<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <title><%= player.nombre %></title>
    
    <%- include('../partials/head') %>
</head>

<body>
    
<%- include('../partials/navbar') %>

    <main class="page">
        <section>
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 d-flex justify-content-center" style="width: 250px;">
                        <div style="width: 200px;height: 200px;">
                            <img
                                class="imagen-cuadrada"
                                src="/assets/img/Members/<%= player.nombre %>.jpeg"
                                alt="<%= player.nombre %>"
                                onerror="this.onerror=null; this.src='/assets/img/Members/GENERICA.jpeg';">
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center align-items-center col-derecha" style="background: url('/assets/img/Seraphim/Banner_Vacio.jpeg') center / cover no-repeat;">
                        <h1 style="text-align: center;font-weight: bold;font-size: 50px;color: var(--bs-secondary-bg);"><%= player.nombre %></h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xxl-7" style="width: 250px;">
                        <div>
                            <p style="text-align: center;color: var(--bs-emphasis-color);font-weight: bold;font-size: 30px;">SOCIAL<br>NETWORK</p>
                            <hr>

                            <% if (socials && socials.length > 0) { %>
                                <% socials.forEach(social => { %>
                                    <div class="row">
                                        <div class="col d-flex justify-content-center">
                                            <a href="<%= social.url %>" target="_blank" style="font-weight: bold;color: #000000;text-decoration: none;">
                                                <%= social.plataforma %>
                                            </a>
                                        </div>
                                    </div>
                                <% }) %>
                            <% } else { %>
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <p class="text-center">COMING SOON</p>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>

                    <div class="col d-flex col-derecha">
                        <div class="col-derecha">
                            <p style="text-align: left;color: var(--bs-emphasis-color);font-weight: bold;font-size: 30px;">TEAMS HE BELONGS TO:</p>
                            <p style="text-align: left;color: var(--bs-emphasis-color);font-weight: bold;font-size: 15px;"><%= player.team %></p>
                            <hr>
                            <p style="text-align: left;color: var(--bs-emphasis-color);font-weight: bold;font-size: 30px;">PLAYER COMMENTS:</p>
                            <p style="text-align: left;color: var(--bs-emphasis-color);font-weight: bold;font-size: 15px;white-space: pre-line;"><%= player.comentario %></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>

</html>